html {
    margin: 0;
    padding: 0;
    color: #25291C;
    font-family: Arial, Helvetica, sans-serif;
}

.main-container {
    width: 50rem;
    height: 13rem;
    background-color: #E3E7D3;
    margin: 13rem auto;
    padding: 2rem 2rem;
    border-radius: 1rem;
}

h1 {
    margin-top: 0;
    font-size: 1.7rem;
}

.options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
}

.button {
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 1.2rem;
    color: #25291C;
    background-color: #a3a79f;
}

.continue, .submit {
    border: none;
    border-radius: 5px;
    margin-top: 1rem;
    font-size: 1.5rem;
    background-color: #a3a79f;
    padding: 0.5rem;
}